{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{% endblock %}
{% block content %}
<div class="container py-5">
 <p class="justify">Привет! Меня зовут Иван Степанов, и я хотел бы рассказать немного о себе. Мне всего 12 лет, и я
   учусь в 6 классе, но уже смог найти две страсти в жизни - программирование и баскетбол.
 </p>
 <h2>Увлечение программированием</h2>
 <p class="justify">С самого раннего детства меня привлекала технология. Я люблю разбираться, как работают
   устройства, и каким образом они помогают нам в нашей повседневной жизни. Когда я узнал о программировании, мне
   стало очень интересно, как создаются приложения и веб-сайты, которые мы используем каждый день.
 </p>
 <p class="justify">
   Я начал изучать программирование с помощью онлайн-курсов и видеоуроков. Это было сложно в начале, но я был
   настолько заинтересован, что ни одна трудность не смогла меня остановить. Постепенно я узнал основы языка
   программирования Python и начал создавать свои первые небольшие программы.
 </p>
 <h2>Моя любовь к баскетболу</h2>
 <p class="justify">
   Кроме программирования, у меня есть еще одна страсть - баскетбол. Когда я впервые попробовал бросать мяч в
   корзину, я почувствовал невероятный прилив энергии и адреналина. Я полностью погрузился в эту игру и начал
   тренироваться каждый день, чтобы стать лучше
 </p>
</div>
<div class="container py-2">
 <div class="row">
   <div class="col" style="text-align:center">
     <img src="{% static 'img/me.jpg' %}" width="487" height="722">
     <h5>Это я</h5>
   </div>
   <div class="col" style="text-align:center">
     <img src="{% static 'img/my_place.jpg' %}" width="487" height="722">
     <h5>Это мое рабочее место</h5>
   </div>
 </div>
</div>
{% endblock %}
