{% extends 'base.html' %}
{% block title %}{{genre.title}}{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="container py-5">
  <div class="container" style="margin: 20px">
    <div class="row">
      <div class="col">
        {% thumbnail genre.image '500x500' crop="center" as im %}
        <img src="{{im.url}}">
        {% endthumbnail %}
      </div>
      <div class="col">
        <h1>{{ genre.title }}</h1>
        <p style="font-size:20px">{{ genre.description }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for film in films %}
        <div class="col">
          <div class="card h-100 text-center">
            {% thumbnail film.image '500x700' crop="center" as im %}
            <img src="{{im.url}}">
            {% endthumbnail %}
            <a href="{% url 'film:film_detail' film.id %}"><h5>{{ film.title }}</h5></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}