{% extends 'base.html' %}
{% block title %}КаталогФильмов{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for film in films %}
        <div class="col">
            <div class="card h-100 text-center">
                {% thumbnail film.image "500x900" crop="center" as im %}
                <img src="{{im.url}}" class="card-img-top">
                {% endthumbnail %}
                <a href="{% url 'film:film_detail' film.id %}"><h5 class="card-title">{{ film.title }}</h5></a>
                <p class="card-text">{{ film.rating }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}